*{
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
    }

   /*header*/
    
    .header {
      background-color: #ECA1BE;
      padding: 20px;
      text-align: center;
      color: white;
    }
  
    .header h1{
      margin-left: 0px;
    }
  
    .header img{
      width: 100px;
      height: 70px;
      float: left;
      margin-left: 0px;
    }

    /*nav*/
  
    nav{
      padding: 0;
      background-color: #5FB8D4;
      text-align: center;
      position: -webkit-sticky; 
      position: sticky;
      top: 0;
      z-index: 999;
  }
  
  nav li{
      list-style: none;
      display: inline-block;
  }
  
  nav a{
      display: block;
      text-decoration: none;
      padding: 16px;
      color: white;
  }
  
  nav a:hover{
      color: white;
      text-decoration: none;
  }

  /*logo*/

  .logo {
    color: black;
    display: flex;
    margin-left: 410px;
  }

  .logo h3{
    margin-top: 20px;
    margin-left: 20px;
  }

  .logo img{
    width: 150px;
    height: 100px;
  }

  /*rodapé*/

footer {
    background: #5FB8D4;
    padding: 25px 0;
    color: white;
    position: relative;
    bottom: 0;
  }
  footer a {
    color: #FFF;
    text-decoration: none;
  }
  footer a:hover {
    color: #FFF;
    text-decoration: none;
  }
  
  footer ul li.ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /*acessibilidades*/
  /*dark*/
  .dark .header {
    background: #BF7C63;
  }
  
  .dark{
    background: #111;
    color: #fff;
  }
  
  .dark nav,
  .dark footer{
    background: #8C1616;
  }
  
 .dark h3{
  color: white;
 }
  
  /* togger*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
 
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* Painel Lateral*/

  .sidepanel {
    height: 250px;
    width: 0; 
    position: fixed; 
    z-index: 999;
    top: 0;
    right: 0;
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 0;
  }
  
  .openbtn {
    right: 0;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    justify-content: flex-end;
    background-color: transparent;
    color: white;
  }